<div id="<%= dom_id game %>">
  <h1><%= game.user.email %>'s game</h1>

  <% case game.status %>
  <% when "lobby" %>
    <% if game.players.length < 2 %>
      <h2>Waiting for players...</h2>
    <% else %>
      <h2>Ready to start!</h2>
      <% if game.user == current_user %>
        <%= button_to 'Start!', @game, method: :patch %>
      <% end %>
    <% end %>

    <% if game.users.include?(current_user) %>
      <% if game.user != current_user %>
        <%= button_to 'Leave', game_players_path(game), method: :delete %>
      <% end %>
    <% else %>
      <%= button_to 'Join!', game_players_path(game) %>
    <% end %>
  <% when "playing" %>
    <h2>
      <% if game.current_player.user == current_user %>
        Your turn!
      <% else %>
        <%= game.current_player.user.email %>'s turn
      <% end %>
    </h2>
    <div class="play-area">
      <div class="discard">
        <div class="deck-stack" style="width: <%= (game.discard.length-1)*0.5 %>px"></div>
        <div class="discard-card card card-<%= game.top.color %>">
          <%= inline_card(game.top) %>
        </div>
      </div>
      <div class="deck">
        <div class="deck-stack" style="width: <%= (game.deck.length-1)*0.5 %>px"></div>
        <div class="card deck-card">
          <%= inline_svg("cards/back.svg") %>
        </div>
      </div>
    </div>
    <ul class="cards">
      <% game.players.find_by(user: current_user).cards.each do |card| %>
        <li class="card card-<%= card.color %>">
          <%= inline_card(card) %>
        </li>
      <% end %>
    </ul>
  <% when "finished" %>
    <h2><%= game.winner.email %> wins!</h2>
  <% when "abandoned" %>
    <h2>Abandoned!</h2>
  <% end %>

  <ul>
    <% game.players.each do |player| %>
      <li><%= player.user.email %></li>
    <% end %>
  </ul>

  <% if game.status.in?(%w[lobby playing]) && game.user == current_user %>
    <%= button_to "Abandon", @game, method: :delete %>
  <% end %>
</div>
