<% if notice.present? %><p class="notice"><%= notice %></p><% end %>
<% if alert.present? %><p class="alert"><%= alert %></p><% end %>

<nav>
  <% if user_signed_in? %>
    <span><%= current_user.email %></span>
    |
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    |
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</nav>
